{% extends '::base.html.twig' %}
{% block title %}{{'edit_mail.tab.title'|trans}}{% endblock %}
{% block stylesheets %}
<style type="text/css">
.tmargin{
margin-top: 20px;
}
.ffont{
font-family:arial;
font-size: 18px;
color:black;
}
#body_div
{
margin-left: 10px;
}
#edit_mail_div label
{
{% if app.request.locale == 'es' %}
width: 45%;
{% else %}
width: 20%;
{% endif %}
}
#edit_mail_div div
{
margin-top: 10px;
}
#edit_mail_div input
{
font-family:arial;
font-size: 18px;
color:black;
}
</style>
{% endblock %}
{% block body %}
<div id="body_div">
<h1>{{'edit_mail.title'|trans}}</h1>
<hr>
<form action="{{ path('user_edit_mail') }}" method="post" class="ffont model_form" id="login">
<div id='edit_mail_div' class="symfony-content content_l">
    <div>
        <label for="nmail">{{'edit_mail.label.new'|trans}}</label>
		{% if last_username is defined %}
			<input type="text" id="nmail" name="_nmail" value="{{ last_username }}" />
		{% else %}
			<input type="text" id="nmail" name="_nmail" value="" />
		{% endif %}
    </div>
    <div class="tmargin">
        <label for="password">{{'edit_mail.label.pass'|trans}}</label>
        <input type="password" id="password" name="_password" />
    </div>

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
	<button class="tmargin symfony-button-green" type="submit">{{'edit_mail.submit'|trans}}</button>
</div>
    
</form>
</div>
{% endblock %}
