{% extends '::base.html.twig' %}
{% block title %}{{'edit_pass.tab.title'|trans}}{% endblock %}
{% block stylesheets %}
<style type="text/css">
#edit_pass_form label
{
width: 40%;
display: block;
float: left;
}
#edit_pass_form div
{
margin-top: 10px;
}
.tmargin{
margin-top: 20px;
}
#edit_pass_form input
{
font-family:arial;
font-size: 18px;
color:black;
}
#body_div
{
margin-left: 10px;
}
.ffont{
font-family:arial;
font-size: 18px;
color:black;
}
</style>
{% endblock %}
{% block body %}
<div id="body_div">
<h1>{{'edit_pass.title'|trans}}</h1>
<hr>
<div id='edit_pass_div' class="symfony-content content_l">
<form action="{{ path('user_edit_pass') }}" method="post" class="ffont" id="edit_pass_form">
	<div>
        <label for="cpassword">{{'edit_pass.label.current'|trans}}</label>
		{#  
		<input type="password" id="cpassword" placeholder="{{'edit_pass.label.current'|trans}}" name="_cpassword" />
		#}
        <input type="password" id="cpassword"  name="_cpassword" />
    </div>
    <div>
        <label for="npassword">{{'edit_pass.label.new'|trans}}</label>
        <input type="password" id="npassword" name="_npassword" />
    </div>
	<div>
        <label for="rnpassword">{{'edit_pass.label.repeat'|trans}}</label>
        <input type="password" id="rnpassword" name="_rnpassword" />
    </div>
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button class="tmargin symfony-button-green" type="submit">{{'edit_pass.submit'|trans}}</button>
</form>
</div>
</div>
{% endblock %}
