{% extends '::base.html.twig' %}

{% block title %}New account{% endblock %}
{% block Login %}{% endblock %}
{% block stylesheets %}
<style type="text/css">
.tmargin{
margin-top: 20px;
}
.ffont{
font-family:arial;
font-size: 18px;
color:black;
}
#register input[type=text],input[type=password],input[type=email]
{
font-family:arial;
font-size: 18px;
color:black;
}
#body_div
{
margin-left: 10px;
}
#register div
{
margin-top: 10px;
}
#register_div label
{
width: 20%;
}
</style>
{% endblock %}
{% block body %}
<div id="body_div">
<h1>Register</h1>
<hr>
{# src/Peds/UserBundle/Resources/views/Default/register.html.twig #}
<div id="register_div" class="symfony-content content_l">
<form action="{{ path('new_user') }}" class="ffont model_form" id="register" method="post" {{ form_enctype(form) }}>
    {# {{ form_widget(form) }} #}
    {{ form_errors(form) }}

    {{ form_row(form.user_name) }}
    {{ form_row(form.email) }}
	{{ form_row(form.Password) }}
	{# {{ form_row(form.role) }} #}
    {{ form_rest(form) }}
    <input class="tmargin symfony-button-green" value="Register" type="submit" />
</form>
</div>
</div>
{% endblock %}