<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome PEDS!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />    
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {# Jquery #}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="http://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
		<!-- JMENU -->
		<link rel="stylesheet" type="text/css" href="{{asset('css/jmenu2.css')}}" media="screen" />
		<script type="text/javascript" src="{{asset('js/jMenu.jquery.min.js')}}"></script>
		
        <!--<link rel="stylesheet" href="/resources/demos/style.css" />-->

    </head>
    <body>

        {% block content_header %}
                <ul id="menu" class="menu_tr">
                    {% block content_header_more %}
                        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                            <li><a href="{{ path('new_user') }}">Register</a></li>
                            {% else %}
                            <li><a href="{{ path('peds_account') }}">My account</a></li>
                            <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('logout') }}">Logout</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
        {% endblock %}
		
		{% block top_menu%}
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<div id="top_menu_div">
			<ul id="jMenu">
			  <li><a href="{{ path('peds_chart') }}">Charts beta</a>
			  </li>
			  <li><a>Compare RPs</a>
				<ul>
					{#<li><a href="{{ path('peds_compare') }}">Automatically</a></li>#}
					<li><a href="{{ path('peds_compare_manual') }}">Mapping Based</a></li>
				</ul>
			  </li>
			  <li><a>Mappings</a>
				<ul>
					<li><a href="{{ path('peds_compare_tasks') }}">Map RPs</a></li>
					<li><a href="{{ path('peds_task_comp') }}">My mappings</a></li>
					<li><a href="{{ path('peds_task_comp_search') }}">Other User Mappings</a></li>
				</ul>
			  </li>
			  <li><a>Model</a>
				<ul>
					<li><a href="{{ path('peds_create_rp_index') }}">Reference process</a>
						<ul>
						<li><a href="{{ path('peds_create_rp_index') }}">Create</a></li>
						<li><a href="{{ path('peds_account') }}">Edit</a></li>
						<li><a href="{{ path('peds_account') }}">Remove</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_act_index') }}">Activity</a>
						<ul>
						<li><a href="{{ path('peds_create_act_index') }}">Create</a></li>
						<li><a href="{{ path('peds_account') }}">Edit</a></li>
						<li><a href="{{ path('peds_account') }}">Remove</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_task_index') }}">Task</a>
						<ul>
						<li><a href="{{ path('peds_create_task_index') }}">Create</a></li>
						<li><a href="{{ path('peds_account') }}">Edit</a></li>
						<li><a href="{{ path('peds_account') }}">Remove</a></li>
						</ul>
					</li>
				</ul>
			  </li>
			  <li><a href="{{ path('peds_account') }}">Account</a>
				<ul>
					<li><a href="{{ path('peds_account') }}">My Account</a></li>
					<li><a>Management</a>
						<ul>
						  <li><a href="{{ path('user_edit_mail') }}"><img src="{{asset('img/Config_1.png')}}" width="26" height="26" alt="edit_mail" />Edit e-mail</a></li>
						  <li><a href="{{ path('user_edit_pass') }}"><img src="{{asset('img/Config_1.png')}}" width="26" height="26" alt="edit_pass" />Edit password</a></li>
						</ul>
					</li>
				</ul>
			  </li>
			  <li><a>Others</a>
				<ul>
					<li><a href="{{ path('peds_load_rp') }}">Load RP from .xml file</a></li>
					{% if is_granted("ROLE_ADMIN") %}
					<li><a href="{{ path('peds_matching') }}">Edit Matching table</a></li>
					{% endif %}
				</ul>
			  </li>
			</ul>
		</div>
		{% endif %}
		{% endblock %}
		{% block menu_js %}
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<script type="text/javascript">
		  $(document).ready(function(){
			// simple jMenu plugin called
			$("#jMenu").jMenu();
		 
			// more complex jMenu plugin called
			$("#jMenu").jMenu({
			  ulWidth : 'auto',
			  effects : {
				effectSpeedOpen : 300,
				effectTypeClose : 'slide'
			  },
			  animatedText : false
			});
		  });
		</script>
		{% endif %}
		{% endblock %}
		{% block flashMessage %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message flash-notice">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-message flash-error">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="flash-message flash-warning">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="flash-message flash-info">
                {{ flashMessage }}
                </div>
            {% endfor %}
        {% endblock %}
		
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
        {% block Login %}
        <h1>Login</h1>


        {% if error is defined %}
            {% if error.message is defined %}
            <div class="error">{{ error.message }}</div>
            {% endif %}
        {% endif %}

        <form action="{{  path('login_check') }}" method="post" id="login">
            <div>
                <label for="username">Username</label>
                {% if last_username is defined %}
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                {% else %}
                    <input type="text" id="username" name="_username" value="" />
                {% endif %}
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" />
            </div>

            <input type="submit" class="symfony-button-grey" value="LOGIN" />
        </form>
        {% endblock %}
        {% else %}
        {% block Hello %}
        {% endblock %}
        {% endif %}
        
        {% block javascripts %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
