<!DOCTYPE html>
<html>
    <head>
        
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{#<meta charset="UTF-8" />#}
        <title>{% block title %}Welcome PEDS!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />    
        {% block stylesheets %}{% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        {# Jquery #}
		<!-- INTERNET -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		
		<!-- NO INTERNET -->
		{# <script src="{{asset('js/jquery-1.9.1.js')}}"></script>
        <script src="{{asset('js/jquery-ui.js')}}"></script> #}
		
        <link rel="stylesheet" href="http://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
		<!-- JMENU -->
		<link rel="stylesheet" type="text/css" href="{{asset('css/jmenu3.css')}}" media="screen" />
		<script type="text/javascript" src="{{asset('js/jMenu.jquery.min.js')}}"></script>
		<!-- CHARTS -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/highcharts-more.js"></script>
		<!-- <script type="text/javascript" src="/js/themes/gray.js"></script> -->
		<!-- END CHARTS -->
        <!--<link rel="stylesheet" href="/resources/demos/style.css" />-->
	
    </head>
    <body>

        {% block content_header %}
                <ul id="menu" class="menu_tr">
                    {% block content_header_more %}
                        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li><a href="{{ path('login') }}">{{'user_menu.login'|trans}}</a></li>
                            <li><a href="{{ path('new_user') }}">{{'user_menu.register'|trans}}</a></li>
                            {% else %}
                            <li><a href="{{ path('peds_account') }}">{{'user_menu.account'|trans}}</a></li>
                            <li>{{'user_menu.logged'|trans}}<strong> {{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('logout') }}">{{'user_menu.logout'|trans}}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
        {% endblock %}
		
		{% block top_menu%}
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<div id="top_menu_div">
			<ul id="jMenu">
			  <li><a href="{{ path('peds_chart') }}">{{'js_menu.charts'|trans}}</a>
			  </li>
			  <li><a>{{'js_menu.compare'|trans}}</a>
				<ul>
					{#<li><a href="{{ path('peds_compare') }}">Automatically</a></li>#}
					<li><a href="{{ path('peds_compare_manual') }}">{{'js_menu.compare.mapping'|trans}}</a></li>
				</ul>
			  </li>
			  <li><a>{{'js_menu.mapping'|trans}}</a>
				<ul>
					<li><a href="{{ path('peds_compare_tasks') }}">{{'js_menu.mapping.map'|trans}}</a></li>
					<li><a href="{{ path('peds_task_comp') }}">{{'js_menu.mapping.my'|trans}}</a></li>
					<li><a href="{{ path('peds_task_comp_search') }}">{{'js_menu.mapping.other'|trans}}</a></li>
				</ul>
			  </li>
			  <li><a>{{'js_menu.model'|trans}}</a>
				<ul>
					<li><a href="{{ path('peds_create_rp_index') }}">{{'js_menu.model.rp'|trans}}</a>
						<ul>
						<li><a href="{{ path('peds_create_rp_index') }}">{{'action.create'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.edit'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.remove'|trans}}</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_act_index') }}">{{'js_menu.model.act'|trans}}</a>
						<ul>
						<li><a href="{{ path('peds_create_act_index') }}">{{'action.create'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.edit'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.remove'|trans}}</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_task_index') }}">{{'js_menu.model.task'|trans}}</a>
						<ul>
						<li><a href="{{ path('peds_create_task_index') }}">{{'action.create'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.edit'|trans}}</a></li>
						<li><a href="{{ path('peds_account') }}">{{'action.remove'|trans}}</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_product_index') }}">{{'js_menu.model.product'|trans}}</a>
						<ul>
						<li><a href="{{ path('peds_create_product_index') }}">{{'action.create'|trans}}</a></li>
						<li><a href="{{ path('peds_edit_product_list') }}">{{'action.edit'|trans}}</a></li>
						<li><a href="{{ path('peds_remove_product_list') }}">{{'action.remove'|trans}}</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_create_role_index') }}">{{'js_menu.model.role'|trans}}</a>
						<ul>
						<li><a href="{{ path('peds_create_role_index') }}">{{'action.create'|trans}}</a></li>
						<li><a href="{{ path('peds_edit_role_list') }}">{{'action.edit'|trans}}</a></li>
						<li><a href="{{ path('peds_remove_role_list') }}">{{'action.remove'|trans}}</a></li>
						</ul>
					</li>
				</ul>
			  </li>
			  <li><a href="{{ path('peds_account') }}">{{'js_menu.account'|trans}}</a>
				<ul>
					<li><a href="{{ path('peds_account') }}">{{'js_menu.account.my'|trans}}</a></li>
					<li><a>{{'js_menu.account.management'|trans}}</a>
						<ul>
						  <li><a href="{{ path('user_edit_mail') }}"><img src="{{asset('img/Config_1.png')}}" width="26" height="26" alt="edit_mail" />{{'js_menu.account.management.mail'|trans}}</a></li>
						  <li><a href="{{ path('user_edit_pass') }}"><img src="{{asset('img/Config_1.png')}}" width="26" height="26" alt="edit_pass" />{{'js_menu.account.management.pass'|trans}}</a></li>
						</ul>
					</li>
					<li><a href="{{ path('peds_import_public_rp') }}">Import Public Processes</a></li>
				</ul>
			  </li>
			  <li><a>{{'js_menu.settings'|trans}}</a>
				<ul>
					<li><a href="{{ path('peds_load_rp') }}">{{'js_menu.settings.load_rp'|trans}}</a></li>
					{% if is_granted("ROLE_ADMIN") %}
					<li><a href="{{ path('peds_matching') }}">{{'js_menu.settings.edit_mtable'|trans}}</a></li>
					{% endif %}
					<li><a href="{{ path('peds_account', {'_locale' :'en'}) }}">English</a></li>
					<li><a href="{{ path('peds_account', {'_locale' :'es'}) }}">Español</a></li>
				</ul>
			  </li>
			</ul>
		</div>
		{% endif %}
		{% endblock %}
		{% block menu_js %}
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<script type="text/javascript">
		  $(document).ready(function(){
			// simple jMenu plugin called
			$("#jMenu").jMenu();
		 
			// more complex jMenu plugin called
			$("#jMenu").jMenu({
			  ulWidth : 'auto',
			  effects : {
				effectSpeedOpen : 300,
				effectTypeClose : 'slide'
			  },
			  animatedText : false
			});
		  });
		</script>
		{% endif %}
		{% endblock %}
		{% block flashMessage %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message flash-notice">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-message flash-error">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="flash-message flash-warning">
                {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="flash-message flash-info">
                {{ flashMessage }}
                </div>
            {% endfor %}
        {% endblock %}
		
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
        {% block Login %}
        <h1>Login</h1>


        {% if error is defined %}
            {% if error.message is defined %}
            <div class="error">{{ error.message }}</div>
            {% endif %}
        {% endif %}

        <form action="{{  path('login_check') }}" method="post" id="login">
            <div>
                <label for="username">Username</label>
                {% if last_username is defined %}
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                {% else %}
                    <input type="text" id="username" name="_username" value="" />
                {% endif %}
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" />
            </div>

            <input type="submit" class="symfony-button-grey" value="LOGIN" />
        </form>
        {% endblock %}
        {% else %}
        {% block Hello %}
        {% endblock %}
        {% endif %}
        
        {% block javascripts %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
