{% extends '::base.html.twig' %}

{% block title %}{{'act_form.edit.tab.title'|trans}}{% endblock %}
{% block stylesheets %}
<style type="text/css">
.tmargin{
margin-top: 20px;
}
.ffont{
font-family:arial;
font-size: 18px;
color:black;
}
#matching_row
{
margin-bottom: 50px;
}
#update label
{
    display: block;
    float: left;
    width: 90px;
}
#body_div
{
margin-left: 10px;
}
#activity label
{
{% if app.request.locale == 'es' %}
width: 30%;
{% else %}
width: 20%;
{% endif %}
}
#activity div
{
margin-top: 10px;
}
#activity input[type=text]
{
font-family:arial;
font-size: 18px;
color:black;
}
</style>
{% endblock %}
{% block body %}
<script type="text/javascript">
</script>
<div id="body_div">
<h1>{{'act_form.edit.title'|trans}}</h1>
<hr>
<div id="edit_activity" class="symfony-content content_l">
<!-- ver si tiene permisos-->

	<form action="{{ path('peds_act_edit', {'id' : id}) }}" class="ffont model_form" id="update" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input class="tmargin symfony-button-green" value="{{'act_form.edit.submit'|trans}}" type="submit" />
	</form>

</div>
</div>
{% endblock %}