{% extends '::base.html.twig' %}

{% block title %}{{'task_form.new.tab.title'|trans}}{% endblock %}
{% block Login %}{% endblock %}
{% block stylesheets %}
<style type="text/css">
hr
{
height: 5px;
background-color: green;
}
.tmargin{
margin-top: 20px;
}
.ffont{
font-family:arial;
font-size: 18px;
color:black;
}
#body_div
{
margin-left: 10px;
}
#Task label
{
{% if app.request.locale == 'es' %}
width: 30%;
{% else %}
width: 20%;
{% endif %}
}
#Task div
{
margin-top: 10px;
}
#Task input[type=text]
{
font-family:arial;
font-size: 18px;
color:black;
}
</style>
{% endblock %}
{% block body %}
<div id="body_div">
<h1>{{'task_form.new.title'|trans}}</h1>
<hr>
<div id="task_form_div" class="symfony-content content_l">
<form action="{{ path('peds_create_task') }}" class="ffont model_form" id="register" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input class="tmargin symfony-button-green" value="{{'task_form.new.submit'|trans}}" type="submit" />
</form>
</div>
</div>
{% endblock %}