{% extends '::base.html.twig' %}

{% block title %}Charts example{% endblock %}
{% block stylesheets %}
<style type="text/css">
#compare_ins
{
clear:both;
}
#compare_button_div
{
clear:both;
margin-left:auto;
margin-right:auto;
width:20%;
}
.center
{
margin-left:auto;
margin-right:auto;
width:100%;
}
#rp_left
{
float:left;
width: 33%;
}
#compare_with
{
float:left;
width: 33%;
text-align: center;
font-size: 20px;
font-weight: bold;
line-height: 180px;
}
#rp_right
{
float:left;
width: 33%;
}
table.rp_table
{
border-width: 1px;
border-spacing: 2px;
border-style: outset;
border-color: gray;
border-collapse: separate;
background-color: white;
border-radius: 5px;
}
table.rp_table th {
border-width: 0px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: white;
border-radius: 5px;
}
table.rp_table td {
border-width: 0px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: white;
border-radius: 5px;
}
#body_div img
{
vertical-align: middle;
}
#body_div
{
margin-left: 10px;
}
.tmargin{
margin-top: 40px;
}
</style>
{% endblock %}
{% block body %}
<div id="body_div">
<script type="text/javascript">
function CompareFunction()
{
//alert("Still does nothing!");
}
$( document ).ready(function() {

  //Bar Graph
  
  $('#chart_div').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
	
	//Spider web Graph
	window.chart = new Highcharts.Chart({
                
        chart: {
            renderTo: 'chart_div_2',
            polar: true,
            type: 'line'
        },
        
        title: {
            text: 'Budget vs spending',
            x: -80
        },
        
        pane: {
            size: '80%'
        },
        
        xAxis: {
            categories: ['Sales', 'Marketing', 'Development', 'Customer Support', 
                    'Information Technology', 'Administration'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
            
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        
        tooltip: {
            shared: true,
            valuePrefix: '$'
        },
        
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },
        
        series: [{
            name: 'Allocated Budget',
            data: [43000, 19000, 60000, 35000, 17000, 10000],
            pointPlacement: 'on'
        }, {
            name: 'Actual Spending',
            data: [50000, 39000, 42000, 31000, 26000, 14000],
            pointPlacement: 'on'
        }]
    
    });
	{% if coverage_res is defined%}
		//Spider web Graph 2
	window.chart = new Highcharts.Chart({
                
        chart: {
            renderTo: 'chart_div_3',
            polar: true,
            type: 'line'
        },
        
        title: {
            text: '{{left_rp.shortName}}',
            x: -80
        },
        
        pane: {
            size: '90%'
        },
        
        xAxis: {
            categories: [
			{% for key, right_rp in right_rp_array %}
			{% if loop.last %}
				'{{right_rp.shortName}}'
			{% else %}
				'{{right_rp.shortName}}',
			{% endif %}
			{% endfor %}
					],
            tickmarkPlacement: 'on',	//dont change
            lineWidth: 0,				//dont change
			labels: {
                align: 'center',
                x: 0,
                y: 0
            }
        },
            
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,			//dont change
            min: 0,
			max: 100,
			tickInterval: 10,
			showLastLabel: true
        },
        
        tooltip: {
            shared: true,
			valueSuffix: '%'
            //valuePrefix: '$'
			
        },
        
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },
        
        series: [{
            name: 'Coverage',
            data: [
			{% for key, coverage in coverage_res %}
			{% if loop.last %}
				{{coverage}}
			{% else %}
				{{coverage}},
			{% endif %}
			{% endfor %}
			],
            pointPlacement: 'on'
        }, 
		]
    
    });
	{% endif %}
});
</script>
<h1>Charts beta</h1>
<hr>
<h2>First chart</h2>
{% if score is defined %}
{{score}}
{% endif %}
{% if coverage_res is defined%}
{% endif %}
<div id="chart_div" style="width:100%; height:400px;"></div>
<div id="chart_div_2" class="tmargin" style="width:100%; height:400px;"></div>
<div id="chart_div_3" class="tmargin" style="width:100%; height:400px;"></div>
</div>
{% endblock %}