{% extends '::base.html.twig' %}

{% block title %}Compare rp by tasks results{% endblock %}
{% block stylesheets %}
<style type="text/css">
#compare_table th {
padding: 5px;
border-color: gray;
background-color: #C2C2C2;
font-weight: bold;
}
#body_div
{
margin-left: 50px;
margin-right: 50px;
}
.borderless_td
{
border-width: 0px;
}
#compare_table th,td {
border-width: 1px;
border-style: solid;
border-color: black;
font-size:16px;
}
.compare_table_title {
font-family:arial;
font-size:18px;
color:black;
}
.tmargin{
margin-top: 20px;
}
</style>
{% endblock %}
{% block body %}
<script type="text/javascript">
</script>
<div id="body_div">
<div id="compare_ins" >
	<h1>{{left_rp.shortName|capitalize}} tasks with respect to other standards</h1>
	<hr>
</div>
<div id="table_div"  class="tmargin">


{% if coverage_res is defined%}
	<table  id="compare_table">
		<tr>
			<th>Task</th>
			<th>Task Description ({{left_rp.shortName}})</th>
			{#<th>{{right_rp.shortName}}</th>#}
			{% for key, right_rp in right_rp_array %}
				<th>{{right_rp.shortName}}</th>
			{% endfor %}
			<th>Num Of Ocurrences</th>
			<th></th>
		</tr>
	{% for key, task in coverage_res[0][0] %}
		<tr>
		<td>{{task['sname']}}</td>
		<td>{{task['desc']}}</td>
		{% set occ = 0 %}
		{% set count = 0 %}
		{% for map_cov in coverage_res %}
			{#<td>{{map_res[key]}}</td>#}
			<td>{{map_cov[1][key]}}</td>
			{% set occ = occ + map_cov[1][key]%}
			{% if map_cov[1][key] != 0%}
				{% set count = count + 1%}
			{% endif %}
		{% endfor %}
		<td>{{occ}}</td>
		<td>{{count}}/{{right_rp_array|length}}</td>
		</tr>
	{% endfor %}
	
		<tr>
			<td class="borderless_td"></td>
			<th>Num of Used Tasks ({{left_rp.shortName}})</th>
			{% for map_cov in coverage_res %}
				{#<td>{{count_res['c_used']}}</td>#}
				<td>{{map_cov[2]['c_used']}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td class="borderless_td"></td>
			<th>Not used tasks ({{left_rp.shortName}})</th>
			{% for map_cov in coverage_res %}
				{#<td>{{count_res['c_nused']}}</td>#}
				<td>{{map_cov[2]['c_nused']}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td class="borderless_td"></td>
			<th>Total Num of Tasks ({{left_rp.shortName}})</th>
			{% for map_cov in coverage_res %}
				{#<td>{{count_res['c_tasks']}}</td>#}
				<td>{{map_cov[2]['c_tasks']}}</td>
			{% endfor %}
		</tr>
		<tr>
			<td class="borderless_td"></td>
			<th>Total Num of Tasks (Secondary RP)</th>
			{#<th>Total Num of Tasks ({{right_rp.shortName}})</th>#}
			{% for map_cov in coverage_res %}
				{#<td>{{count_res['c_sec_tasks']}}</td>#}
				<td>{{map_cov[2]['c_sec_tasks']}}</td>
			{% endfor %}
		</tr>
	</table>
{% endif %}
</div>
</div>
{% endblock %}